# use glob syntax.
syntax: glob
.gradle/

# jython classes
*$py.class

# Gradle environment specific properties
gradle.properties

# Build output
build/
out/
target/
bin/
test-output/
.cache
# Maven
pom.xml

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject
.scala_dependencies

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.log
s101plugin.state

# If you have these in your workspace you need to clean up!
*.hdb*
build-number.txt
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Tests working folders
integration-test
ui-integration-test
deployit-defaults.properties

# SBT
.history
integration/riatest/riatest-results.txt
integration/data/.cache
*.rtw

*.swp

site-packages/
.jython_cache/
